@import '../../scss/variables';

.headerWrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
