@import '../../scss/variables';

.wrapper {

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.currentDayWrapper{
  display: flex;
  align-items: flex-end;
}

.currentDay{
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
}

.infoWrapper {
  text-align: right;
}

.progressBar {
  display: flex;
  align-items: center;
}

.progressBarData {
  display: inline-block;
  margin-right: 10px;
}

