$colorBorder: #dcdcdf;
$breakpoint-mobile-xs: 320px;
$breakpoint-mobile: 375px;
$breakpoint-mobile-horizontal: 580px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-horizontal: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-small: 1400px;
$breakpoint-desktop-wide: 1600px;
$breakpoint-desktop-wide-xl: 1920px;

$contentMaxWidth: 1280px;

$color-white: #ffffff;
$color-light-orange: #f6da98;
$color-orange: #efbb43;
$color-dark-orange: #ddac3a;
$color-pale-gray: #f5f7fa;
$color-red: #ff4b64;
$color-green: #8ec63f;
$color-blue: #5579d7;

$bg-color-white: #ffffff;
$bg-color-gray: #fafafa;

$text-color-black: #000000;
$text-color-white: #ffffff;
$text-color-gray: #858598;

$button-border-radius-sm: 18px;
$button-border-radius-l: 20px;
$button-border-radius-xl: 30px;

$heading-selectors: 'h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6';
$input-selectors: '[type="tel"], [type="url"], [type="text"], [type="date"], [type="email"], [type="search"], [type="number"], [type="password"], textarea, select';

$font-default: 'Circe', sans-serif;
$font-accent: 'Poppins', sans-serif;
