@import '../../../scss/variables';
@import '../../../scss/mixins';

.daysList {
    position: absolute;
    top: 6px;
    right: 6px;
    color: $text-color-white;
    background-color: $color-blue;
    border-radius: 6px;
    padding: 15px 20px;
    max-height: 200px;
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: height 300ms, opacity 300ms;

    &.isShow{
        opacity: 1;
        height: 100%;
        pointer-events: all;
    }   

    ul{
        @include reset-list
    }

    input {
        margin-right: 12px;
    }

    label {
        font-weight: 700;
        
    }
}